/* External Snippets */ 
 @import url('https://raw.githubusercontent.com/Krammeth/css-snippets/refs/heads/main/CompactButtons.css');
 @import url("https://raw.githubusercontent.com/yiruzu/vencord-snippets/refs/heads/main/snippets/UserActivityRedesign/import.css");

/* Custom Fonts Import */ 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

/* Custom Themes Import */
    @import url('https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/refs/heads/master/Themes/EmojiReplace/EmojiReplace.theme.css');
* {
/* Custom Font */
    font-family: 'Quicksand', sans-serif !important;
}
/* Boost Page */
[class^=powerupContainer] {
    display: flex;
    > :not([class^=parentContainer]) { display: none; }
}
/* Compact Context Menu */
div[aria-label*="Actions"]>div[dir="ltr"] {

    margin: -4px;
    height: fit-content;

    div[class*="-wrapper"] {
        padding: 2px;
    }

    div[role="separator"] {
        margin: 1px 8px;
    }

    div>div>div>div[class*="-layer"]>div[class*="submenuPaddingContainer"] {
        transform: translate(0, -5px);

        padding: 0 4px;

        div[class*="-submenu"] {

            div[class*="-scroller"] {
                padding: 4px;
            }
        }
    }
}
